spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/wmsdb
    username: postgres
    password: 081102
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  flyway:
    enabled: true

server:
  port: 8089
